.about {
  max-width: 1230px;
  box-sizing: border-box;
  margin: auto;
  padding-top: 73px;
  padding-bottom: 110px;
  padding-left: 210px;
  padding-right: 50px;
  background-color: #ffffff;
  background-image: url("../img/number-desktop@1x.png");
  background-position: 3% 48%;
  background-repeat: no-repeat;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .about {
    background-image: url("../img/number-desktop@2x.png");
    background-size: 117px auto;
  }
}

.about h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: #666666;
  margin-top: 0;
  margin-bottom: 22px;
}

.about p {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #666666;
  margin-top: 0;
  margin-bottom: 20px;
}

.about p:last-of-type {
  margin-bottom: 40px;
}

.about__dots {
  display: none;
}

@media (max-width: $desktop-width) {
  .about {
    padding-top: 24px;
    padding-bottom: 83px;
    padding-left: 213px;
    padding-right: 25px;
    background-image: url("../img/number-tablet@1x.png");
    background-position: 4% 29%;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .about {
      background-image: url("../img/number-tablet@2x.png");
      background-size: 134px auto;
    }
  }

  .about h2 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 26px;
    margin-left: -3px;
  }

  .about p {
    margin-bottom: 19px;
  }

  .about p:last-of-type {
    margin-bottom: 43px;
  }

  .about__dots {
    display: inline;
  }

  .about__add-text {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .about {
    padding-top: 56px;
    padding-bottom: 65px;
    padding-left: 17px;
    padding-right: 10px;
    background: none;
  }

  .about h2 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 22px;
  }

  .about p {
    margin-bottom: 40px;
  }

  .about p:last-of-type {
    margin-bottom: 29px;
  }

  .about__dots {
    display: inline;
  }

  .about__add-text {
    display: none;
  }
}
