.button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 27px;
  border-radius: 5px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.button--white-border {
  border: 1px solid #ffffff;
}

.button--callback {
  margin-left: 98px;
  font-size: 16px;
  line-height: 19px;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 45px;
  padding-right: 45px;
  border: none;
  background: #00b2ff;
}

.button--callback-mobile {
  display: none;
}

@media (max-width: $desktop-width) {
  .button--white-border {
    display: none;
  }

  .button--callback {
    margin-left: 52px;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: $tablet-width) {
  .button--callback {
    display: none;
  }

  .button--callback-mobile {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    border: none;
    background: #00b2ff;
  }
}
