.button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 27px;
  border-radius: 5px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button--callback {
  border: 1px solid #ffffff;
  background: transparent;
  width: 180px;
  padding-left: 26px;
  padding-right: 26px;
  margin-bottom: 1px;
}

.button--callback:hover,
.button--callback:focus {
  border: 1px solid #00b2ff;
  color: #00b2ff;
}

.button--consultation {
  margin-left: 98px;
  font-size: 16px;
  line-height: 19px;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  margin-bottom: 10px;
  background: #00b2ff;
  width: 407px;
}

.button--consultation-mobile {
  display: none;
}

.button--consultation:hover,
.button--consultation:focus,
.button--consultation-mobile:hover,
.button--consultation-mobile:focus {
  background: #ffffff;
  color: #00b2ff;
}

.button--about {
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  width: 180px;
}

.button--about:hover,
.button--about:focus {
  color: #ffffff;
  background: #00b2ff;
}

.button--agree {
  flex-shrink: 0;
  background: #00b2ff;
  border: 1px solid #ffffff;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 40px;
  width: 270px;
}

.button--agree:hover,
.button--agree:focus {
  background: #ffffff;
  color: #00b2ff;
}

.button--popup {
  width: 100%;
  color: #ffffff;
  border: 1px solid #ffffff;
  background: #00b2ff;
  margin-bottom: 35px;
}

.button--popup:hover,
.button--popup:focus {
  color: #00b2ff;
  background: #ffffff;
}

@media (max-width: $desktop-width) {
  .button--callback {
    display: none;
  }

  .button--consultation {
    margin-left: 52px;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 379px;
  }

  .button--agree {
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 84px;
    padding-right: 84px;
    width: 280px;
    box-sizing: border-box;
  }
}

@media (max-width: $tablet-width) {
  .button--consultation {
    display: none;
  }

  .button--consultation-mobile {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background: #00b2ff;
  }

  .button--agree {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 22px;
  }
}
