.contact-form {
  margin: auto;
  position: relative;
  background: #00b2ff;
}

.contact-form__wrap {
  max-width: 1170px;
  padding-right: 30px;
  padding-left: 30px;
  margin: auto;
  display: flex;
  background-image: url("../img/plane@1x.png"), url("../img/footer-shape.svg"), url("../img/triangle5.svg"), url("../img/triangle6.svg");
  background-position: 2% 50%, 1% 50%, 95% 20%, 98% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 400px, 500px, auto, auto, auto;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contact-form__wrap {
    background-image: url("../img/plane@2x.png"), url("../img/footer-shape.svg"), url("../img/triangle5.svg"), url("../img/triangle6.svg");
    background-size: 400px auto, 500px, auto, auto;
  }
}

.contact-form__form {
  width: 570px;
  box-sizing: border-box;
  margin-left: auto;
  padding-top: 90px;
  padding-bottom: 73px;
  padding-left: 0;
  padding-right: 0;
}

.contact-form h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: -3px;
}

.contact-form p {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 50px;
}

.contact-form__top-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form input {
  box-sizing: border-box;
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  opacity: 1;
  width: 268px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  background: #19baff;
  margin-bottom: 40px;
}

.contact-form input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact-form input:hover,
.contact-form input:focus {
  outline: 1px solid #ffffff;
}

.contact-form textarea {
  box-sizing: border-box;
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  width: 570px;
  height: 154px;
  padding-left: 16px;
  padding-top: 12px;
  border: none;
  resize: none;
  margin-bottom: 44px;
  background: #19baff;
}

.contact-form textarea::placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact-form textarea:hover,
.contact-form textarea:focus {
  outline: 1px solid #ffffff;
}

.contact-form__bottom-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form__agree-wrap {
  width: 262px;
  margin-left: auto;
  margin-bottom: 40px;
}

.contact-form label {
  display: block;
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.8;
  position: relative;
  padding-top: 7px;
  padding-left: 32px;
}

.contact-form label::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #ffffff;
}

.contact-form input[name="agreement"]:checked + label::before {
  background: url("../img/tick.svg") 50% 50% no-repeat;
}

.contact-form input[name="agreement"]:hover + label,
.contact-form input[name="agreement"]:focus + label {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: $desktop-width) {
  .contact-form {
    background: #00b2ff;
  }

  .contact-form__wrap {
    display: block;
    max-width: none;
    padding-left: 91px;
    padding-right: 86px;
    background: none;
  }

  .contact-form__form {
    width: auto;
    max-width: 590px;
    margin: auto;
    padding-top: 78px;
    padding-bottom: 63px;
  }

  .contact-form h2 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 17px;
  }

  .contact-form p {
    margin-bottom: 55px;
    padding-left: 2px;
  }

  .contact-form input {
    width: 280px;
    padding-bottom: 4px;
    padding-left: 18px;
    padding-right: 17px;
    margin-bottom: 42px;
  }

  .contact-form textarea {
    width: 100%;
    height: 160px;
    padding-left: 18px;
    margin-bottom: 44px;
  }

  .contact-form__agree-wrap {
    width: 268px;
    margin-left: auto;
    margin-bottom: 40px;
    padding-top: 2px;
  }

  .contact-form label::before {
    top: 8px;
    left: -2px;
  }
}

@media (max-width: $tablet-width) {
  .contact-form__wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact-form__form {
    padding-top: 28px;
    padding-bottom: 0;
  }

  .contact-form h2 {
    font-size: 28px;
    line-height: 39px;
    padding-left: 2px;
    margin-bottom: 14px;
  }

  .contact-form p {
    margin-left: -2px;
    margin-bottom: 27px;
  }

  .contact-form input {
    width: 100%;
    padding-bottom: 4px;
    padding-left: 18px;
    padding-right: 17px;
    margin-bottom: 32px;
  }

  .contact-form textarea {
    height: 104px;
    margin-bottom: 29px;
  }

  .contact-form__agree-wrap {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 0;
  }

  .contact-form__agree-wrap input {
    width: 0;
  }

  .contact-form label {
    padding-left: 34px;
  }

  .contact-form label::before {
    top: 8px;
    left: 0;
  }
}
