.content {
  max-width: 1410px;
  margin: auto;
  padding-left: 33px;
  padding-right: 33px;
  display: flex;
  align-items: flex-start;
}

@media (max-width: $desktop-width) {
  .content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: $tablet-width) {
  .content {
    padding-left: 17px;
    padding-right: 17px;
  }
}
