.main-content {
  max-width: 1260px;
  margin: auto;
  overflow: hidden;
  padding-top: 112px;
  background: url("../img/triangle1.svg") 0% 0% no-repeat, url("../img/triangle2.svg") 0% 100% no-repeat, url("../img/triangle3.svg") 100% 0% no-repeat, url("../img/triangle4.svg") 100% 100% no-repeat;
}

@media (max-width: $desktop-width) {
  .main-content {
    padding-top: 54px;
  }
}

@media (max-width: $tablet-width) {
  .main-content {
    padding-top: 37px;
  }
}
