.main-footer {
  background: #ffffff;
}

.main-footer__top {
  display: flex;
  padding-top: 65px;
  padding-bottom: 58px;
  padding-left: 30px;
  padding-right: 35px;
  max-width: 1415px;
  margin: auto;
}

.main-footer__left {
  width: 216px;
  margin-right: 14.7%;
}

.main-footer__label {
  display: none;
}

.main-footer__list-title {
  width: 100%;
  background: white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: #1b2d37;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 0;
  margin-bottom: 25px;
}

.main-footer__list-open {
  display: none;
}

.main-footer__list-wrap {
  display: flex;
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer__list--first {
  margin-right: 72px;
}

.main-footer__list--second {
  letter-spacing: 0.03em;
}

.main-footer__item {
  margin-top: 0;
  margin-bottom: 0;
}

.main-footer__link {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #1b2d37;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.main-footer__link:hover,
.main-footer__link:focus {
  opacity: 1;
}

.main-footer__center {
  margin-right: 30px;
}

.main-footer__right {
  margin-left: auto;
}

.main-footer__list-text {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #1b2d37;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.main-footer__bottom {
  border-top: 1px solid #dddddd;
}

.main-footer__bottom-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 35px;
  max-width: 1415px;
  margin: auto;
}

.main-footer__text {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(27, 45, 55, 0.5);
  text-decoration: none;
}

.main-footer__text--terms {
  color: rgba(27, 45, 55, 0.5);
}

.main-footer__text--rights {
  margin-left: 2px;
  margin-right: 5.3%;
}

.main-footer__text--years {
  margin-right: 10%;
}

.main-footer__text--developer {
  margin-left: auto;
  opacity: 1;
}

.main-footer__text-link {
  color: rgba(27, 45, 55, 0.5);
  text-decoration: none;
}

.main-footer__text-link:hover,
.main-footer__text-link:focus {
  color: rgba(27, 45, 55, 1);
}

.main-footer__open-menu {
  display: none;
}

@media (max-width: $desktop-width) {
  .main-footer {
    position: relative;
  }

  .main-footer__top {
    padding-top: 19px;
    padding-bottom: 36px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  .main-footer__left {
    width: 100%;
    display: flex;
    padding-left: 25px;
    padding-right: 22px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 37px;
    margin-right: 0;
  }

  .main-footer__center {
    padding-left: 25px;
  }

  .main-footer__list-title {
    padding-left: 2px;
    box-sizing: border-box;
  }

  .main-footer__list-wrap {
    display: block;
  }

  .main-footer__list--first {
    margin-right: 0;
  }

  .main-footer__list--second {
    letter-spacing: 0;
  }

  .main-footer__right {
    margin-left: auto;
    padding-right: 37px;
  }

  .main-footer__text--rights {
    display: none;
  }

  .main-footer__text--years {
    position: absolute;
    top: 36px;
    left: 328px;
  }

  .main-footer__bottom-wrap {
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 27px;
    padding-right: 26px;
  }
}

@media (max-width: $tablet-width) {
  .main-footer__top {
    display: block;
    padding-top: 46px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .main-footer__left {
    width: 216px;
    display: block;
    margin: auto;
    padding: 0;
    border-bottom: none;
  }

  .main-footer__center {
    border-top: 1px solid #dddddd;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    margin-right: 0;
  }

  .main-footer__list-title--center {
    margin-bottom: 0;
  }

  .main-footer__open-menu {
    font-size: 0;
    position: absolute;
    display: block;
    top: 28px;
    right: 16px;
    width: 18px;
    height: 18px;
    background-image: url("../img/plus.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .main-footer__open-menu--opened {
    background-image: url("../img/minus.svg");
  }

  .main-footer__open-menu:hover,
  .main-footer__open-menu:focus {
    opacity: 0.5;
    cursor: pointer;
  }

  .main-footer__list-wrap {
    margin-top: 25px;
  }

  .main-footer__right {
    position: relative;
    border-top: 1px solid #dddddd;
    padding-top: 27px;
    padding-bottom: 26px;
    padding-left: 14px;
    padding-right: 30px;
  }

  .main-footer__list-title--right {
    margin-bottom: 0;
  }

  .main-footer__list-text {
    margin-top: 33px;
  }

  .main-footer__text--years {
    position: absolute;
    top: 125px;
    left: 50%;
    width: 280px;
    margin-left: -140px;
    text-align: center;
  }

  .main-footer__bottom-wrap {
    padding-top: 28px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    text-align: center;
  }

  .main-footer__text--terms {
    margin-bottom: 21px;
    display: block;
  }

  .main-footer__text--developer {
    display: block;
  }
}
