body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.5;
  z-index: 1;
}

.no-scroll {
  position: fixed;
  overflow-y: scroll;
}
